body{
    padding: 0;
    margin: 0;
}

header{
    margin: 0;
    padding: 10px;
    background-color: dimgrey;
    color: white;
    text-align: center;
}

/*RESULTS*/
#result-container{
    display: flex;
    width: 100%;
    flex-direction: column;
    align-items: center;
}

.result-item {
    display: flex;

    width: 700px;
    margin: 10px;
    padding: 5px;

    border-radius: 10px;
    background-color: lightblue;
    box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);

    cursor: pointer;
}

.result-img{
    flex: 0 0 215;
    width: 200px;
    border-style: solid;
}

.result-text-container{
    padding-left: 10px;
    flex: 1;
}